/* CSS Document */

a.nav-link{
	text-align:center;
}




.bg-dark{
	background-color:black!important;
}



span.logo{
	font-family: 'Righteous', cursive;
	font-size:1.25em;
}

span.logo:hover {
	opacity:0.5;
}

img.imglogo:hover{
	opacity:0.5;
}

a.activelist{
	color:red;
}

li a:hover {
	text-decoration:none;
}

.card-body a:hover{
	text-decoration:none;
}

a.list-group-item{
	background-color:#6c757d!important;
}

a.list-group-item:hover{
	background-color:#636C73!important;
}

h6{
	color:white!important;
}

.list-group-item.active{
	background-color:#4B5156!important;
	color:white!important;
}

.footer{
			color:white;
		}


footer a:hover {
	text-decoration: none;
	
}


/*start   list group hover effect change for machine learning page */
#regression a.list-group-item {
	background-color:#818B94!important;
	font-size: 0.9em;
}
#regression a.list-group-item:hover {
	background-color:#6c757d!important;
}

#classification a.list-group-item{
	background-color:#818B94!important;
	font-size: 0.9em;
}

#classification a.list-group-item:hover{
	background-color:#6c757d!important;
}

#clustering a.list-group-item {
	background-color:#818B94!important;
	font-size: 0.9em;
}
#clustering a.list-group-item:hover {
	background-color:#6c757d!important;
}

#dimensionality a.list-group-item{
	background-color:#818B94!important;
	font-size: 0.9em;
}

#dimensionality a.list-group-item:hover{
	background-color:#6c757d!important;
}
/*  End list group hover effect change for machine learning page */



/*  start list group hover effect change for data analytics page */
#set a.list-group-item,#numpy a.list-group-item,#pandas a.list-group-item,#library a.list-group-item,#matplotlib a.list-group-item,#seaborn a.list-group-item{
	background-color:#818B94!important;
	font-size: 0.9em;
}

#set a.list-group-item:hover,#numpy a.list-group-item:hover,#pandas a.list-group-item:hover,#library a.list-group-item:hover,#matplotlib a.list-group-item:hover,#seaborn a.list-group-item:hover{
	background-color:#6c757d!important;
}

/*  End list group hover effect change for data analytics page */

.files img{
	height:30px;
	width:30px;
}

.files a:hover{
	text-decoration:none;
}

.files img:hover{
	opacity:0.8;
}


h1 small {
	text-align:center!important;
	width:100%;
}

.desk p {
	color:white!important;
}

.s-link a i {
	color:#0056b3;}

h1.my-4{
	font-size:2.0rem!important;
	
}

footer.col-md-6,footer.col-xs-12{
	padding:10px!important;
}


h2.card-title{
	font-size: 1.5rem!important;
	
}
p.box-border{
	border: solid 1px black;
	border-radius: 5px;
	padding:5px;
	color:black;
}
p.box-border:hover{
	filter: opacity(0.8);
	background-color:black;
	color:white;
	
}





